@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
.bg-blur-dark{
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
}
.txt-orange{
    color: #f7931e;
}
.hero{
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/img/welcome/background.jpeg);
    font-family: 'Poppins', sans-serif;
}
.panel-blur-dark{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
}
.txt-title{
    font-size: 2em;
}